	<!-- END .header -->
	<div style="margin: 0 0 10px 30%">
    <h2>Call: <strong>+234 8185438075</strong></h2>
    <h2>Email: <strong>chineduabalogu@gmail.com</strong></h2>
    </div>
        <hr>

		<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-cloud-upload"></i></div>
								<div class="fh5co-desc">
									<h3>Free hosting</h3>
									<p>Webistes come with free hosting for a year, Check out websites we have built for clients in our <a href="">portfolio</a></p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>High definition pictures with high resolution to attract customers to your products! </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>All our websites are built with the bootstrap css framework so they are fully responsive and mobile friendly. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-database"></i></div>
								<div class="fh5co-desc">
									<h3>Data</h3>
									<p>We will collate, organize and visually display your companies data. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-search"></i></div>
								<div class="fh5co-desc">
									<h3>SEO</h3>
									<p>Search engine optimization for your web applications, which will support every search engine. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-stack"></i></div>
								<div class="fh5co-desc">
									<h3>Web app development</h3>
									<p>Do you want a SaaS "Software as a service" web application? let us handle that!.</p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; Priince Technology Solutions. All Rights Reserved!</p>
				</div>
			</div>
		</div>
	</footer>
	
