	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="navbar-header"> 
						<!-- Mobile Toggle Menu Button -->
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
						<a class="navbar-brand" href="/">PRIINCE TECH</a>
						</div>
						<div id="fh5co-navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/"><span>Home <span class="border"></span></span></a></li>
								<li><a href="/portfolio"><span>Portfolio <span class="border"></span></span></a></li>
								<li><a href="/contact"><span>Contact <span class="border"></span></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="intro-lead">Make something you love and let us handle everything!</h3>
						<p class="">We build very simple web applications for your business! A technology space trying to make a difference.</p>
						<img class="bg-img2" src="assets/bg-image2.jpg">
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">What do you want?</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>Hotel Website</h3>
									<p>&#8358 60,000</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 3,000/monthly</p>
									<p>&#8358 30,000/year</p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>Company Website</h3>
									<p>&#8358 50,000</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 3,000/monthly</p>
									<p>&#8358 30,000/year</p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>E-Commerce Store</h3>
									<p>&#8358 130,000</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 8,000/monthly</p>
									<p>&#8358 90,000/year</p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>News Agency</h3>
									<p>&#8358 100,000</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 7,000/monthly</p>
									<p>&#8358 80,000/year</p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>Personal Blog</h3>
									<p>&#8358 20,000</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 3,000/monthly</p>
									<p>&#8358 30,000/year</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-desc">
									<h3>School Website</h3>
									<p>FREE</p>
									<strong><p>Hosting & maintenance </p></strong>
									<p>&#8358 3,000/monthly</p>
									<p>&#8358 30,000/year</p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
		<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-cloud-upload"></i></div>
								<div class="fh5co-desc">
									<h3>Free hosting</h3>
									<p>Webistes come with free hosting for a year, Check out websites we have built for clients in our <a href="">portfolio</a></p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>High definition pictures with high resolution to attract customers to your products! </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>All our websites are built with the bootstrap css framework so they are fully responsive and mobile friendly. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-database"></i></div>
								<div class="fh5co-desc">
									<h3>Data</h3>
									<p>We will collate, organize and visually display your companies data. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-search"></i></div>
								<div class="fh5co-desc">
									<h3>SEO</h3>
									<p>Search engine optimization for your web applications, which will support every search engine. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-stack"></i></div>
								<div class="fh5co-desc">
									<h3>Web app development</h3>
									<p>Do you want a SaaS "Software as a service" web application? let us handle that!.</p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; Priince Technology Solutions. All Rights Reserved!</p>
				</div>
			</div>
		</div>
	</footer>
	
