	<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Projects
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://bennyhotellagos.com/">
                    <img class="img-responsive" src="assets/benny.png" alt="">
                </a>
                <h3>
                    <a href="http://bennyhotellagos.com/">Benny Hotel</a>
                </h3>
                <p>A simple website we built for a medium sized hotel in festac town lagos. Want a website like this? contact us.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://www.ormajay.co/">
                    <img class="img-responsive" src="assets/blog.png" alt="">
                </a>
                <h3>
                    <a href="http://www.omajay.co/">Personal Blog</a>
                </h3>
                <p>A very simple personal blog built for a client. Want a website like this? contact us.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://festacgo.digital/">
                    <img class="img-responsive" src="assets/festac.png" alt="">
                </a>
                <h3>
                    <a href="http://festacgo.digital/">Festac Go Digital</a>
                </h3>
                <p>A weekend meetup session we launched to engage people with technology by bringing youth tech enthusiasts together and also take up some web design sessions.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="http://famescan.co/">
                    <img class="img-responsive" src="assets/famescan.png" alt="">
                </a>
                <h3>
                    <a href="http://famescan.co/">Famescan</a>
                </h3>
                <p>A web application where you can source through the richest people in Nigeria's net-worth and source of wealth etc..</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://filterlandindustries.com/">
                    <img class="img-responsive" src="assets/filterland.png" alt="">
                </a>
                <h3>
                    <a href="http://filterlandindustries.com/">Filterland Industries</a>
                </h3>
                <p>A simple website built for a medium sized manufacturing company based in Satellite town lagos.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://shehutaila.com/">
                    <img class="img-responsive" src="assets/shehutaila1.png" alt="">
                </a>
                <h3>
                    <a href="http://shehutaila.com/">ShehuTaila</a>
                </h3>
                <p>A platform to book a tailor for your traditional attires. Still in Production. Sign up to find out more about it!</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="assets/stockapp.png" alt="">
                </a>
                <h3>
                    <a href="#">Stock Accumulator App</a>
                </h3>
                <p>A very simple app for small manufacturing companies to easily keep track of their product stocks.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="http://priince.me/">
                    <img class="img-responsive" src="assets/portfolio.png" alt="">
                </a>
                <h3>
                    <a href="http://priince.me/">Personal portfolio</a>
                </h3>
                <p>Looking for a personal portfolio website? .</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

		<div id="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<h2 class="section-lead text-center">Features</h2>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-cloud-upload"></i></div>
								<div class="fh5co-desc">
									<h3>Free hosting</h3>
									<p>Webistes come with free hosting for a year, Check out websites we have built for clients in our <a href="">portfolio</a></p>
								</div>	
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>
								<div class="fh5co-desc">
									<h3>Retina Ready</h3>
									<p>High definition pictures with high resolution to attract customers to your products! </p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>
								<div class="fh5co-desc">
									<h3>Fully Responsive</h3>
									<p>All our websites are built with the bootstrap css framework so they are fully responsive and mobile friendly. </p>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-database"></i></div>
								<div class="fh5co-desc">
									<h3>Data</h3>
									<p>We will collate, organize and visually display your companies data. </p>
								</div>	
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-search"></i></div>
								<div class="fh5co-desc">
									<h3>SEO</h3>
									<p>Search engine optimization for your web applications, which will support every search engine. </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">
								<div class="fh5co-icon to-animate"><i class="icon-stack"></i></div>
								<div class="fh5co-desc">
									<h3>Web app development</h3>
									<p>Do you want a SaaS "Software as a service" web application? let us handle that!.</p>
								</div>
							</div>
							<div class="clearfix visible-sm-block visible-xs-block"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>&copy; Priince Technology Solutions. All Rights Reserved!</p>
				</div>
			</div>
		</div>
	</footer>
	
